<form class="form-horizontal" role="form" method="post">
  <fieldset>
    <legend>用户注册</legend>
    <div class="form-group">
      <label for="username" class="col-sm-2 control-label">用户名</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="username" name="username" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">口令</label>
      <div class="col-sm-3">
        <input type="password" class="form-control" id="password" name="password" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <label for="password-repeat" class="col-sm-2 control-label">再次输入口令</label>
      <div class="col-sm-3">
        <input type="password" class="form-control" id="password-repeat" name="password-repeat" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-3">
        <button type="submit" class="btn btn-default">注册</button>
      </div>
    </div>
  </fieldset>
</form>