body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 70px;
  padding-bottom: 30px;
}

a {
  color: #00B7FF;
}

.starter-template{
	padding: 40px 15px;
	text-align: center;
}